html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.parent {
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.child {
  background: #e8e8e8;
  width: 80vh;
  height: 80vh;
  min-width: 500px;
  min-height: 500px;
  margin: auto;
  border-radius: 3rem;
  border: 5px solid #739600;
}

table {
  margin: 1rem;
}

.title {
  height: 3rem;
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  color: #739600;
}

.title-div {
  height: 4rem;
}

.input-title {
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}

.panel {
  display: none;
}

.active {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid {
  height: 75%;
  max-width: 95%;
  margin: auto;
  display: grid;
  /* background-color: aqua; */
  grid-template-columns: 1fr minmax(100px, 11fr) 1fr;
  grid-template-rows: 1fr minmax(100px, 11fr) 1fr;
}

.top-row-grid {
  grid-column: 2/-1;
}

.left-grid {
  grid-row: 1/3;
  border-right: 2px solid #567000;
}

.bottom-left-cell-grid {
  grid-column: 1/2;
  grid-row: 3/4;
}

.last-row-grid {
  grid-column: 2/3;
  border-top: 2px solid #567000;
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.bottom-right-cell-grid {
  grid-column: 3/-1;
  border-top: 2px solid #567000;
}

.cols-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.bar {
  align-self: flex-end;
  width: 100px;
  height: var(--bar-value);
  margin: 0 var(--bar-gap);
  background-color: var(--bar-color);
  display: flex;
  flex-direction: column;
  justify-content: var(--bar-text-position);
  font-size: 1.7rem;
  color: white;
}

.text-position {
  margin: 10px;
}

.x-axis {
  width: 100px;
  margin: 4px 2px;
  font-size: 1.5rem;
  color: #567000;
  font-weight: 700;
  /* border-radius: 0 2 2 0; */
}

.cell-width {
  width: 20%;
  height: 20px;
}

.bar-data {
  width: 75%;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

/*----------------------------------------------------------------------------------------*/
.dropbtn-bar {
  transition: all 0.1s ease;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #739600;
  color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown-bar {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-bar {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-bar div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-bar div:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown-bar:hover .dropdown-content-bar {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-bar:hover .dropbtn-bar {
  background-color: #e3eacc;
  color: #455a00;
}

/*----------------------------------------------------------------------------------------*/
.dropbtn-label {
  transition: all 0.1s ease;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #739600;
  color: white;
}

.dropdown-label {
  position: relative;
  display: inline-block;
}

.dropdown-content-label {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-label div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-label div:hover {
  background-color: #f1f1f1;
}

.dropdown-label:hover .dropdown-content-label {
  display: block;
}

.dropdown-label:hover .dropbtn-label {
  background-color: #e3eacc;
  color: #455a00;
}

/*----------------------------------------------------------------------------------------*/
.dropbtn-space {
  transition: all 0.1s ease;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #739600;
  color: white;
}

.dropdown-space {
  position: relative;
  display: inline-block;
}

.dropdown-content-space {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-space div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-space div:hover {
  background-color: #f1f1f1;
}

.dropdown-space:hover .dropdown-content-space {
  display: block;
}

.dropdown-space:hover .dropbtn-space {
  background-color: #e3eacc;
  color: #455a00;
}

/*----------------------------------------------------------------------------------------*/
.dropbtn-position {
  transition: all 0.1s ease;
  display: inline-block;
  margin: 1em;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #739600;
  color: white;
}

.dropdown-position {
  position: relative;
  display: inline-block;
}

.dropdown-content-position {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-position div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-position div:hover {
  background-color: #f1f1f1;
}

.dropdown-position:hover .dropdown-content-position {
  display: block;
}

.dropdown-position:hover .dropbtn-position {
  background-color: #e3eacc;
  color: #455a00;
}

/*----------------------------------------------------------------------------------------*/
.dropbtn-title-color {
  transition: all 0.1s ease;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #739600;
  color: white;
}

.dropdown-title-color {
  position: relative;
  display: inline-block;
}

.dropdown-content-title-color {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-title-color div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-title-color div:hover {
  background-color: #f1f1f1;
}

.dropdown-title-color:hover .dropdown-content-title-color {
  display: block;
}

.dropdown-title-color:hover .dropbtn-title-color {
  background-color: #e3eacc;
  color: #455a00;
}

/*----------------------------------------------------------------------------------------*/
.dropbtn-title-size {
  transition: all 0.1s ease;
  padding: 1em 2em;
  border: 0;
  border-radius: 30px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #739600;
  color: white;
}

.dropdown-title-size {
  position: relative;
  display: inline-block;
}

.dropdown-content-title-size {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content-title-size div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-title-size div:hover {
  background-color: #f1f1f1;
}

.dropdown-title-size:hover .dropdown-content-title-size {
  display: block;
}

.dropdown-title-size:hover .dropbtn-title-size {
  background-color: #e3eacc;
  color: #455a00;
}
